body {
	font-family: sans-serif;
	background-color: #8e0e00;
	text-transform: capitalize;
}

#container {
	background-color: #f7f7f7;
	margin: 100px auto;
	height: 525px;
	width: 360px;
	text-align: center;
	border-radius: 10px;
}

h2 {
	background-color: #1f030c;
	color: white;
	margin: 0;
	padding: 10px 10px;
	font-size: 18px;
	font-weight: normal;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}  

p {
	text-decoration: underline;
	font-weight: bold;
	font-size: 14px;
	font-style: italic;
}

.dollar {
	margin-right: 3px;
}

.billAmt {
	width: 90px;
	font-size: 14px;
	background-color: #f7f7f7;
	padding: 3px;
	border-radius: 3px;
}

.billAmt:focus {
	outline: none;
}

.serQual {
	padding: 13px 13px 20px 20px;
	border-radius: 10px;
	font-size: 20px;
	outline: none;
	cursor: pointer;
}


.peopleAmt {
	width: 130px;
	font-size: 14px;
	background-color: #f7f7f7;
	padding: 3px;
	border-radius: 3px;
}


.peopleAmt:focus {
	outline: none;
}

.btn {
	display: flex;
	flex-direction: column;
	height: 50px;
	padding: 5px;
	width: 350px;
	align-items: center;
	margin-bottom: 2px;
}

button {
	text-transform: uppercase;
	font-weight: bolder;
	margin: 3px;
	cursor: pointer;
	background-color: #1f030c;
	color: white;
	font-size: 14px;
	border-radius: 5px;
	outline: none;
}

button:active {
	outline: none;
	font-style: italic;
}

button:hover {
	background-color: #4c2847;
}

#totalTip {
	font-size: 30px;	
}

#totalTip:before {
	content: "Tip Amount";
	font-size: 16px;
	font-weight: bold;
	display: block;
	text-transform: capitalize;
}

sup {
	font-size: 12px;
}

small {
	font-size: 18px;
	display: block;
	font-weight: bold;
}